node_modules/
.env
data/
*.db
*.db-journal
*.db-shm
*.db-wal
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pdf
prompt.md

# Local Vector Databases
src/config/memory_vectors.json

# Local Environment Variables
.env.*

# OS Files
.DS_Store

# Logs
logs/
*.log